* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #2F3439;
  font-family: 'Open Sans', sans-serif;
  color: #D6D8DA;
}

.container {
  width: 30%;  
  min-width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #1B1D23;
  padding: 20px;
  box-shadow: 0px 0px 5px 5px #1B1D23;
}

h1 {
  text-align: center; 
  margin-bottom: 10px; 
}

input, button {
  width: 100%;
  padding: 10px 5px;
  font-size: 16px;
  outline: none;
  border: none;
  border-radius: 2px;
}

button {
  background-color: #04D361;
  color: #FFFFFF;
  font-size: 14px;
  margin-top: 5px;
  cursor: pointer;
}

img {
  width: 100%;
  max-height: 600px;
  margin-top: 20px;
}

footer {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

footer p {
  text-align: center;
  font-size: 9.6px;
}