div.page-container {
  background-color: #4D736F;
  width: 500px;
  margin: 0 auto;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.349);
}

h1 {
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #faf6f6;
}

form input,
form button {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
}

form input {
  background-color: #FFFFFF;
  height: 35px;
  padding-left: 10px;
  margin-bottom: 10px;
}

form button {
  background-color: #04D361;
  height: 40px;
  font-size: 15px;
  color: #FFFFFF;
  cursor: pointer;
  margin-bottom: 15px;
}